
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/indexpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 300px;
}


.container {
    position: relative;
    margin-top: 150px;
    width: 450px;
    height: auto;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

img {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    top: -10%;
    left: 50%;
    position: relative;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}



.label {
    margin: 0px 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-form {
    padding: 20px 40px;
}

    .login-form .font {
        font-size: 18px;
        color: #fff;
        margin: 5px;
    }

    .login-form input:focus ~ font,
    .login-form input:valid ~ font {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 12px;
    }

    .login-form input {
        height: 40px;
        width: 350px;
        padding: 0 5px;
        font-size: 14px;
        color: #fff;
        outline: none;
        border-style: none;
        border-bottom: 1px solid #fff;
        background: transparent;
    }

    .login-form .font2 {
        margin-top: 30px;
    }

    .login-form button {
        margin: 45px 0 30px 0;
        height: 45px;
        width: 150px;
        color: #03f42b;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        letter-spacing: 4px;
        background: transparent;
        border-style: none;
    }

        .login-form button:hover {
            background: #03f42b;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03f42b, 0 0 25px #03f42b, 0 0 50px #03f42b, 0 0 100px #03f42b;
        }


    .login-form #use {
        margin-top: 5px;
        width: 345px;
        font-size: 12px;
        color: red;
        display: none;
    }

a {
    color: white;
    font-size: 14px;
}

.error {
    color: red;
    font-size: 12px;
}


