@page
@model AgroConnect.Views.HomeController1.LoginModel
@{
}

<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/credentials/css/login.css">
</head>


    <div class="container">
        <div class="avatar">
        <img src="~/credentials/images/userpic.png" />
        </div>
        <h1 class="label">Login</h1>

        <body>
            <form class="login-form" method="post" name="form" onsubmit="return validated()">
                <div class="font">Username</div>
                <input autocomplete="off" type="text" name="username">
                <div class="error" id="username_error"></div>

                <div class="font">Password</div>
                <input autocomplete="off" type="password" name="password">
                <div class="error" id="password_error"></div>



                <button type="submit"><a href="Register.html"></a>LOG IN</button>
            <a href="~/HomeController1/SignUp">New user? Click here</a>
            </form>

        <script src="~/credentials/js/login.js"></script>



        </body>

</html>